
body{
    background-color:floralwhite ;
    display:flex; 
    flex-direction:column;    
    min-height: 100vh;
    border: 1px solid red;
}
/* =====================
==========header==========
=========================== */
header{
    display: flex;
    justify-content: start;
    border: 1px solid red;
    background-color: #e6e6e6;
}

.navegador-lineal{
    height: 2em;
}

.noticias{
    display: flex;
    margin-left: 5em;
    text-align: center;
}
.noticias p {
    margin-top: 0.5em;
    white-space: nowrap;
    color: #cd0000;
}

.noticias-del-dia ul{
    display: flex;
    margin-left: 0.5em;
    white-space: nowrap;
    margin-top: 0.5em;
}

.noticias-del-dia ul li{
    margin: 0 0.06em;
}

 

.islas ul{
    display: flex;
    margin-left: 20em;
    white-space: nowrap; 
    margin-top: 0.5em;
    text-align: center; 
}

.islas ul li{
    margin-left: 1em;
    
}
  













main{
    margin: 1em 0;
    width: 100%;
}

/* =================
======Typography========
========================== */


