
body{
    background-color:floralwhite ;
    display:flex; 
    flex-direction:column;    
    min-height: 100vh;
}
/* =====================
==========header==========
=========================== */
header{
    height: 5em;
    background-color: #e6e6e6;
}

/* ================================ */

.navegador-lineal{
    height: 3vh;
}

.noticias{
    height: 3vh;
    display: flex;
    margin-left: 5em;
    text-align: center;
    
}
.noticias p {
    margin-top: 0.3em;
    color: #cd0000;
}

.noticias-del-dia ul{
    display: flex;
    margin-left: 0.5em;
    white-space: nowrap;
    margin-top: 0.3em;
}

.noticias-del-dia ul li{
    margin: 0 0.06em;
}

.islas{
    margin: 0em 5em;
}
 

.islas ul{
    display: flex;
    margin-left: 20em;
    white-space: nowrap; 
    margin-top: 0.3em;
    text-align: center; 
}

.islas ul li{
    margin-left: 1em;
}

/* ============================= */

.navegador-menu{
    display: flex;
    background-color: #cd0000;
    height: 12vh;
    flex-direction: row;
    justify-content: space-between;
}

.navegador-menu .hamburguesa{
    width:3em;
    height:3em;
    margin-left: 6em;
    margin-top: 2em;
}

.navegador-menu .hamburguesa svg path{
    fill: #ffffff;
}

.navegador-menu .logo{
    width: 20em;
    height:4em;
    margin-left: 5em;
    margin-top: 1.5em;
    fill: #ffffff;
}

.botones{
    display: flex;
    margin-right: 5em;
    margin-top: 3em;
}

.botones .inicio{
    width: 9em;
    height: 2.5em;
    margin:0 0.5em ;
    background-color: #E6E6E6;
    border-radius:0.2em 0.2em 0.2em ;
}

.botones .registro{
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    height: 2.5em;
    width: 6em;
    background-color: #FFC700;
}

.navegador-menu .botones .registro p{
    padding: 0.6em 1em;
}

.navegador-menu .botones .inicio p{
    padding: 0.6em ;
}

.navegador-menu .botones .inicio svg{
    width: 2em;
    height: auto;
    position: absolute;
    right:12em;
    top: 5em;
}
/* ================================== */

.navegador .navegador-menu-extendido{
    background-color:#E6E6E6;
    height: 4vh;
}

.navegador .navegador-menu-extendido ul{
 display: flex;
}

.navegador .navegador-menu-extendido ul li{
    margin: 0.2em 0.5em;
}

.navegador .navegador-menu-extendido ul .casa svg {
    height: 1.5em;
    width: 1.5em;
}

.navegador .navegador-menu-extendido ul .lupa svg{
    height: 1em;
    width: 1em;
}

/* =====================
===========MAIN=========
======================== */


main{
    margin: 1em 0;
    width: 100%;
}



