
body{
    background-color:floralwhite ;
    display:flex; 
    flex-direction:column;    
    min-height: 100vh;
}
/* =====================
==========header==========
=========================== */
/* header{
    background-color: #e6e6e6;
} */

/* =====================
==========image==========
=========================== */
img{
    width: 100%;
}

/* Header */

.navegador-lineal{
    background-color: hsl(0, 0%, 90%);
    display: flex; 
    justify-content: space-between;
    padding: 0.2em 3%;
    width: 94%;
}

.noticias{
    display: flex;
}

.noticias p {
    margin-top: 0.3em;
    color: #cd0000;
    white-space: nowrap;
}

.noticias-del-dia ul{
    display: flex;
}

.noticias-del-dia ul li{
    margin-right: .5em;
}

.noticias-del-dia ul li:first-child{
    color: #cd0000;
}

.noticias-del-dia ul li:not(:first-child):not(:last-child)::after {
    padding-left: 0.25rem;
    content: "-";
}

.islas ul{
    display: flex;
    justify-content: space-between;
}

.islas ul li{
    margin-left: 1em;
}

.islas ul li:not(:last-child)::after {
    content: "|";
    padding-left: 0.5rem;
    color: hsl(0, 0%, 67%);
    font-weight: bold;
}

.navegador-menu{
    display: flex;
    background-color: #cd0000;
    justify-content: space-between;
    padding: 1em 3%;
    width: 94%;
}

.navegador-menu .hamburguesa svg{
    width:3em;
    height:3em;
}

.navegador-menu .hamburguesa svg path{
    fill: #ffffff;
}

.navegador-menu .logo svg{
    height: 3em;
    fill: #ffffff;
}

.navegador-menu .botones button{
    border: none;
}

.navegador-menu .botones .inicio{
    margin: 0 0.5em;
    background-color: #E6E6E6;
    border-radius: 0.2em;
}

.navegador-menu .botones .inicio span{
    display: inline;
    margin-right: 0.5em;
    vertical-align: middle;
}

.navegador-menu .botones .inicio svg{
    vertical-align: middle;
    overflow: hidden;
    width: 2em;
}

.navegador-menu .botones .registro{
    border-radius: 0.2em;
    background-color: #FFC700;
    padding: 0.5em 1em;
}

.navegador .navegador-menu-extendido{
    background-color:#E6E6E6;
}

.navegador .navegador-menu-extendido ul{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3%;
    width: 94%;
}

.navegador .navegador-menu-extendido ul .casa svg{
    height: 1.5em;
    width: 1.5em;
}

.navegador .navegador-menu-extendido ul .lupa svg{
    height: 1em;
    width: 1em;
}

/* =====================
===========MAIN=========
======================== */

main{
    margin: 1em 0;
    width: 100%;
}

.columna-slider{
    width: 100%;

}

.columna-slider img{
    width: 90%;
    padding: 0em 4em;

}

.columna-slider .caja{
    background-color: #cd0000;
    width: 16%;
    position: relative;
    left: 45%;
    bottom: 4%;    
    display: flex;
    justify-content:center;
}

.columna-slider .caja p{
    color: #ffffff;
}

.columna-slider .titulo{
    text-align: center;
}

.columna-slider .texto{

}

.columna-slider .texto p{
    color: black;
    text-align: center;
    white-space:pre-wrap;   
}

.columna-slider .autor{
text-align: center;
}

.columna-slider .autor p{
    color:#555555; 
}

.columna-cuatro{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.columna-cuatro .columna{
    width: 24%;
}

.columna-cuatro .columna h2{
    text-align: center;
    
}

.columna-ampliada .columna {
width: 60%;
margin: 2em 4em;
}

.columna-ampliada .columna .noticia-etiqueta {
    background-color: #cd0000;
    padding: 0 0.5em;
    position:absolute;
    top: 89em;

}

.columna-ampliada .columna .noticia .noticia-etiqueta p{
    color: black;
}

.columna-ampliada .columna .noticia .noticia-autor{
    padding-top: 1em;
}



















/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto";
}

a, td, p, button, li{
    font-family: "Roboto";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}





